# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/.idea.OutCons.iml
/modules.xml
/contentModel.xml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../../:\Users\tsets\source\repos\OutCons\.idea\.idea.OutCons\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
